{%load static%}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Evaluation</title>
<!-- Bootstrap -->

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/self.css' %}" rel="stylesheet">
<!--<script src="{% static 'js/echarts.js' %}" type="text/javascript"></script>-->
<script src="{% static 'bootstrap/js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/self.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/echarts.js' %}" type="text/javascript"></script>
</head>
<body style="padding: 70px;background: url({% static "images/2.jpg" %})no-repeat;background-size: cover; background-attachment:fixed ">
<div class="container">
  <div class="row">
  <nav class="col-xs-6 col-xs-offset-3 navbar navbar-default navbar-fixed-top" style="border-radius: 5px;">
    <div class="navbar-header well-sm"> <a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get">
        <div class="form-group well-sm">
          <div class="input-group">
          <input name="keywords" id="searchnull" value="{{keyword}}" type="text" class="form-control" placeholder="Search" style="width: 30rem;">
          </div>
        </div>
        <button type="submit" class="btn btn-default" onclick="return validatorNull()" >Search</button>

        {% if check_words %}
      <a href="/accuracy/{{ keyword }}"><span class="btn btn-default">验证结果</span> </a>
      {% endif %}

      </form>
    </div>
  </nav>
  </div>

    <div class="col-xs-10 col-xs-offset-1">
      <ul class="list-group list-unstyled">
        <span class="list-group-item">
    <h2>一、无序检索检索结果集合的评价</h2>
    <p>&nbsp&nbsp&nbsp1、Precision:&nbsp<strong>{{ precise }}</strong></p>
    <p>&nbsp&nbsp&nbsp2、Recall:&nbsp<strong>{{ recall }}</strong></p>
    <p>&nbsp&nbsp&nbsp3、F1 score:&nbsp<strong>{{ f }}</strong></p>
    <p>&nbsp&nbsp&nbsp4、Contingency Table:&nbsp</p>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th> </th>
            <th>相关（Relevant）</th>
            <th>无关（NonRelevant）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">返回（Retrieved）</th>
            <td>tp:&nbsp<a href="/accuracy/{{ keyword }}/tp"><strong>{{ tp }}</strong></a></td>
            <td>fp:&nbsp<a href="/accuracy/{{ keyword }}/fp"><strong>{{ fp }}</strong></a></td>
          </tr>
          <tr>
            <th scope="row">未返回（Not Retrieved）</th>
            <td>fn:&nbsp<a href="/accuracy/{{ keyword }}/fn"><strong>{{ fn }}</strong></a></td>
            <td>tn:&nbsp<a href="/accuracy/{{ keyword }}/tn"><strong>{{ tn }}</strong></a></td>
          </tr>
        </tbody>
      </table>
        </span>
                <span class="list-group-item" style="height:70rem;">
      <h2>二、有序检索结果集合的评价</h2>
      <p>&nbsp&nbsp&nbsp1、Average Precision:&nbsp<strong>{{ rank }}</strong></p>
      <p>&nbsp&nbsp&nbsp2、Precision-Recall Curve:&nbsp</p>
      <div class="col-xs-10 col-xs-offset-1" id="chart1" style="height: 50rem">
    <!--<img src="{% static 'images' %}/{{ keyword }}.png" style="width:600px; height:auto">-->
                          <script type="text/javascript">
                              var myChart = echarts.init(document.getElementById('chart1'));
                              option = {
                                  tooltip: {
                                      formatter: function (params) {
                                          var document_number = params.dataIndex + 1;
                                          var data = params.data;
                                          return '前' + document_number + '个文档<br>正确率 ' + data[1].toString().substr(0, 8) + '<br>召回率 ' + data[0].toString().substr(0, 8);
                                      }
                                  },
                                  xAxis: {
                                      name:"Recall",
                                      type:"value",
                                      max:{{ rmax }},
                                      min:{{ rmin }},
                                  },
                                  yAxis: {
                                      name:"Precision",
                                      type:"value",
                                      max:{{ pmax }},
                                      min:{{ pmin }},
                                  },
                                  series: [{
                                      data: {{ pr }},
                                      type: 'line',
                                      smooth: false,
                                      // symbol:"none",
                                      symbolSize: 2,
                                  }]
                              };
                              myChart.setOption(option)
                          </script>
      </div>
        </span>
      </ul>
    </div>

</div>
<div class="mastfoot">
  <div class="inner" style="text-align: center">
          <p>Design For <a href=" " style="color: white">IrGroupⅪ</a>, by <a href=" " style="color: white">@Boukawa</a>.</p>
  </div>
</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

</body>
</html>